body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Container for hero image */
.container-fluid-content { 
  text-align: center;  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  position: relative;
  background-color: #F0E8E1;
  width: 100%;
  }

  .container { 
      text-align: center;  
      /* Position and center the image to scale nicely on all screens */
      background-position: center;
      position: relative;
      width:100px;
      background-color: #F0E8E1;
      padding: 18px;
      }

.container .card {
  text-align: center;
  width: 100%;
  background-color: #F0E8E1;
  border: none;
}
